<%= simple_form_for(@organization) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :phones, as: :array %>
    <%= f.input :emails, as: :array %>
    <%= f.input :url %>
    <%= f.input :languages, as: :array %>
    <%= f.input :service_list %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
