<p id="notice"><%= notice %></p>

<h1>Listing Organizations</h1>

<table class="sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Validation Errors</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name, organization %></td>

        <td>
        <% organization.valid? %>
        <% organization.errors.full_messages.each do |msg| %>
          <%= content_tag :li, msg, :id => "error_#{msg}" if msg.is_a?(String) %>
        <% end %>

        </td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "Approve", organization_path(organization, organization: { status: 'approved' }), :method => :put %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
