<%= render "individual_actions" %>

<p>
  <strong>Tags:</strong>
  <%= @organization.tag_list %>
</p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<p>
  <strong>Address:</strong>
  <span class="org-address"><%= @organization.address %></span>
</p>

<p>
  <strong>Phone:</strong>
  <% @organization.phones.each do |phone| %>
    <%= phone %>
  <% end %>
</p>

<p>
  <strong>Email:</strong>
  <% @organization.emails.each do |email| %>
    <%= email %>
  <% end %>
</p>

<p>
  <strong>Url:</strong>
  <%= @organization.url %>
</p>

<p>
  <strong>Language:</strong>
  <% @organization.languages.each do |language| %>
    <%= language %>
  <% end %>
</p>

<div id="map-canvas" style="height: 300px;"></div>

<%= form_tag({controller: "api", action: "export_organization"}, { method: "get", class: "organization-export"}) do %>
  <%= select_tag(:format, options_for_select(ApiController::SUPPORTED_FORMATS)) %>
  <%= submit_tag "Export Organization" %>
<% end %>
