<%= render "individual_actions" %>

<div class="container">

  <h1><%= @organization.name %></h1>
  <div class="organization-url"><a target="_blank" href="<%= @organization.url %>"><%= @organization.url %></div></a>

  <div class="column">
    <div class="description section">
      <h2>About</h2>
      <p><%= @organization.description %></p>
    </div>

    <div class="services section">
      <h2>Services</h2>
      <ul class="primary-services">
        <% @organization.service_list.each do |tag| %>
          <li><%= tag %></li>
        <% end %>
      </ul>
    </div>

    <div class="eligibility section">
      <h2>Is this for me?</h2>
      <dl>
        <dt>Serves</dt>
        <dd><%= @organization.demographics %></dd>

        <dt>Fees</dt>
        <dd><%= @organization.fees %></dd>

        <dt>Languages</dt>
        <dd><%= @organization.languages.join(", ") %></dd>

        <dt>Accessibility</dt>
        <dd><%= @organization.accessibility %></dd>
      </dl>
    </div>
  </div>

  <div class="column">
    <div class="location section">
      <div class="map" id="map-canvas"></div>
      <h2 class="org-address"><%= @organization.address %></h2>

      <div class="contact subsection">
        <ul class="phones">
          <% @organization.phones.each do |phone| %>
            <li><%= phone %></li>
          <% end %>
        </ul>

        <div class="fax">Fax: (415) 487-6724</div>

        <% @organization.emails.each do |email| %>
          <div class="email"><%= email %></div>
        <% end %>
      </div>

      <div class="hours subsection">
        <h2>Hours</h2>
        <div class="regular-hours">
          Monday–Thursday, 10:00am to 7:00pm; Fridays, 10:00am to 6:30pm
        </div>

        <div class="intake-hours">
          New clients: Monday–Friday, based on appointment.
        </div>
      </div>

      <div class="requirements subsection">
        <h2>What to Bring</h2>
        <div>
          Proof of San Francisco Residency.
          Program will assist entering clients in getting this.
        </div>
      </div>
    </div>

    <div class="people section">
      <h2>Contact Person</h2>
      <div class="person">
        <div class="name">Shirley Maciel</div>
        <div class="title">Director</div>
        <div class="phone">(415) 487-6702</div>
        <div class="email">shirley16maciel@gmail.com </div>
      </div>
    </div>

    <div class="notes section">
      <h2>Notes</h2>
      <div>Clients can get a referral off our website. Appointment preferred.</div>
    </div>
  </div>
</div>
