<%= link_to 'Edit', edit_organization_path(@organization), class: 'edit-link-pjax' %>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organization.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @organization.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @organization.email %>
</p>

<p>
  <strong>Url:</strong>
  <%= @organization.url %>
</p>

<% if @organization.status == 'pending' %>
  <%= link_to 'Approve', organization_path(@organization, organization: { status: 'approved' }), :method => :put %>
<% else %>
  <%= link_to 'Unapprove', organization_path(@organization, organization: { status: 'pending' }), :method => :put %>
<% end %>
