<%= link_to 'Edit', edit_organization_path(@organization), remote: true, class: 'edit-link-pjax' %>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<p>
  <strong>Address:</strong>
  <span class="org-address"><%= @organization.address %></span>
</p>

<p>
  <strong>Phone:</strong>
  <% @organization.phones.each do |phone| %>
    <%= phone %>
  <% end %>
</p>

<p>
  <strong>Email:</strong>
  <% @organization.emails.each do |email| %>
    <%= email %>
  <% end %>
</p>

<p>
  <strong>Url:</strong>
  <%= @organization.url %>
</p>

<p>
  <strong>Language:</strong>
  <% @organization.languages.each do |language| %>
    <%= language %>
  <% end %>
</p>

<div id="map-canvas" style="height: 300px;"></div>

<% if @organization.status == 'pending' %>
  <%= link_to 'Approve', organization_path(@organization, organization: { status: 'approved' }), :method => :put %>
<% else %>
  <%= link_to 'Unapprove', organization_path(@organization, organization: { status: 'pending' }), :method => :put %>
<% end %>
