<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">

  <div class="nav">
    <ul class="menu">
      <!-- <li class="logo"></li> -->
      <li class="menu-link"><%= link_to 'Home', '/', :method => :get %></li>
      <%if admin_signed_in? %>
        <li class="menu-link"><%= link_to "Sign out", destroy_admin_session_path, method: :delete %></li>
      <% else %>
        <li class="menu-link"><%= link_to "Sign in", new_admin_session_path %></li>
      <% end %>
      <li class="menu-link"><%= link_to 'Organizations', '/organizations', :method => :get %></li>
      <li class="menu-link"><%= link_to 'Pending', '/pending', :method => :get %></li>
    </ul>
  </div>

  <%= render "flashes" -%>

  <div class="content">
    <%= yield %>
  </div>

  <%= render "javascript" %>
</body>
</html>
